.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 1.1em;
  background-color: #95dada;
  padding: 10px 20px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.search::placeholder {
  color: #08706d;
}
.search:focus {
  transform: scale(1.05);
}
